<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("Header")

</head>
<body>
    @Html.Partial("Menu")


    <div class="ui container">
        @RenderBody()

        <footer></footer>
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>

